<div class="card-group">
    <div class="card" *ngFor="let carImage of carImages">
      <img [src]="getImageSource(carImage)" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          <!-- brand = {{car.brandName}}
          color = {{car.colorName}} -->
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <!-- <a  class="btn btn-dark" (click)="addRental()">Rent</a> -->
        <a *ngIf="success" class="btn btn-success">Approve</a>
      </div>
    </div>
  </div>