<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Otomobil ara:</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Aranacak ifadeyi giriniz">
</div>
<div *ngIf="filterText" class="alert alert-success">
{{filterText}} aradınız
</div>

<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Car ID</th>
      <th>Brand Name</th>
      <th>Color Name</th>
      <th>Model</th> 
      <th>Açıklama</th>
      <th>Günlük Fiyat</th>
      <th>KDV Dahil Fiyat</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars | filterPipe:filterText">
      <td>{{ car.carId }}</td>
      <td>{{ car.brandName}}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.description }}</td>
      <td>{{ car.dailyPrice | currency}}</td>
      <td>{{ car.dailyPrice | vatAdded:18 | currency }}</td>
      <td><button (click)="addToCart(car)" type="button" class="btn btn-success">Sepete ekle</button></td>
    </tr>
  </tbody>
</table>
